@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.close2me {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.close2me-top {
  margin: 0 0 3em;
}

.close2me-calendar {
  margin: 0 auto;
  max-width: 900px;
}